$background-light: rgb(51, 68, 87);
$header-light: rgb(173, 216, 230);
$header-focus: rgb(89, 187, 248);
$background-middle: rgb(87, 128, 141);
$test: pink;
$scrollbar-back: rgba(160, 160, 160, 0.445);
$scrollbar-thumb: rgba(89, 187, 248, 0.4);
$scrollbar-thumb-hover: rgb(89, 187, 248);
$high-light: rgba(255, 255, 255, 0.479);
$paper-yellow: rgb(250, 230, 117);
$paper-light-yellow: rgb(245, 233, 167);