@import '../../Styles/Colors.scss';
@import '../../Styles/dimension.scss';
.app-contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    margin-top: $app-header-height;
    padding: 10px;
    height: calc(100% - 50px);
    background: $background-light;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 10px;
        background-color: $scrollbar-back;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb;
    }
    &::-webkit-scrollbar-thumb:hover{
        background-color: $scrollbar-thumb-hover;
    }
    &.header-hiden{
        margin-top: $app-header-hidden-height;
        height: calc(100% - 20px);
    }
    
}
.card-container{
 display: flex;
 align-items: center;
 min-height: 300px;
 max-height: 300px;
 max-width: 80%;
 margin: 20px 0;
}
.add-card-space-wrapper{
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 40px;
}
.add-card-space{
    box-sizing: border-box;
    display: inline-block;
    height: 80%;
    width: 20px;
    margin: 0 10px;
    border-radius: 10px;  
    &.highlight{
        background-color: $high-light;
        box-shadow: 0 0 5px $high-light;
    }
}

.card{
 display: inline-block;
 min-height: 300px;
 min-width: 200px;
 max-height: 300px;
 max-width: 600px;
 background: linear-gradient(to bottom right, lightgray, rgb(114, 114, 114));
 transition: 0.5s;
 }