@import '../../Styles/Colors.scss';
@import '../../Styles/dimension.scss';
.Navigator{
    display: inline-block;
    left: 0;
    right: 0;
    height: 100%;
    background: $background-middle;
    transition: 1s;
    box-shadow: 0 1;
    width: 0;
    &.enable{
        width: $navigator-width;    
    }
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 0px;
    }
    &:hover::-webkit-scrollbar{
        width: 5px;
        background: $scrollbar-back;
    }
    &:hover::-webkit-scrollbar-thumb{
        background: $scrollbar-thumb;
    }
}
.menu-item{
    width: calc(100% -20px);
    min-height: 30px;
    margin: 5px 10px;
    background: rgba(200,200,200,0.6); 
}